td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
}

#redstart {
    background-color: red;
}

#bluestart {
    background-color: blue;
}

#yellowstart {
    background-color: yellow;
}

#greenstart {
    background-color: green;
}

table {
    margin: auto;
}

input {
    display: block;
    margin: 10px auto;
}