body {
    background-color: lightyellow;
}

td {
    background-color: white;
    border: 1px solid black;
    border-radius: 2.5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

#redstart {
    background-color: red;
}

#bluestart {
    background-color: blue;
}

#yellowstart {
    background-color: yellow;
}

#greenstart {
    background-color: green;
}

table {
    margin: auto;
}

input {
    display: block;
    margin: 10px auto;
}

div {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    border: 5px brown double;
}